@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

:root {
    --line-height: 1.5;
    --font-std: serif;
    --font-caesar: "Caesar Dressing";
    
    --form-txt-clr: black;
    --hero-txt-clr: white;
    --ftr-txt-clr: rgba(255, 255, 255, 0.6);

    --bg-rightbox-clr: rgb(248, 245, 245);
    --bg-hero-clr: rgba(0, 0, 0, 0.4);
    --bg-form-clr: white;
    --submit-btn-clr: rgb(9, 122, 9);
    --submit-btn-hov-clr: rgb(5, 73, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    line-height: var(--line-height);
}

body {
    display: flex;
    flex-direction: row;
}

#left-container,
#right-container {
    height: 100vh;
}

/* left container start here */

#left-container {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 35%;
    display: flex;
    flex-direction: column;
    
}

#hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#hero-wrapper {
    background-color: var(--bg-hero-clr);
    width: 100%;
}

#logo {
    height: 100%;
    width: 70px;
}

#hero {
    color: var(--hero-txt-clr);
    font-family: var(--font-caesar), var(--font-std);
    font-size: 3rem;
}

#hero-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#ftr-flex-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

footer {
    color: var(--ftr-txt-clr);
    font-family: var(--font-std);
    font-size: 12px;

    padding: 10px;
}

footer > a {
    color: var(--ftr-txt-clr);
}

/* left container ends here */

/*  right container starts here*/

#right-container {
    width: 65%;
    background-color: var(--bg-rightbox-clr);

    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
}

label {
    display: block;
    font-size: 0.8rem;
}

input {
    width: 14rem;
}

.uppercase {
    text-transform: uppercase;
}

#form-heading {
    background-color: var(--bg-form-clr);
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 4rem;
    padding-right: 1rem;
}

#form-container {
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(29, 29, 29, 0.2);
}

#form-container > div {
    background-color: var(--bg-form-clr);
}

#input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 3rem;

    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 13rem;
}

#header {
    display: flex;
    flex-direction: column;

}

#header > p {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 550;
    
    padding-left: 4rem;
    padding-right: 5rem;
}

#header > p:first-child {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#header > p + p {
    padding-bottom: 2rem;
}

#header span {
    display: block;
}

form #button-container {
    padding-top: 2rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

form button {
    padding: 0.5rem 2rem;

    border: 0;
    border-radius: 0.5rem;

    background-color: var(--submit-btn-clr);
    color: var(--hero-txt-clr);
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(29, 29, 29, 0.4);
}

form button:hover {
    cursor: pointer;
    background-color: var(--submit-btn-hov-clr);
}

form button:active {
    box-shadow: inset 0.1rem 0.1rem darkslategrey;
}

#acc-login {
    padding-left: 4rem;
    width: 100%;
}

#acc-login a {
    color: var(--submit-btn-clr);
    text-decoration: none;
}

#acc-login a:hover {
    color: var(--submit-btn-hov-clr);
}