@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

:root {
    --line-height: 1.5;
    --font-std: serif;
    --font-caesar: "Caesar Dressing";
    
    --form-txt-clr: black;
    --hero-txt-clr: white;
    --ftr-txt-clr: rgba(255, 255, 255, 0.6);

    --bg-rightbox-clr: rgb(231, 224, 224);
    --bg-hero-clr: rgba(0, 0, 0, 0.4);
    --bg-form-clr: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    line-height: var(--line-height);
}

body {
    display: flex;
    flex-direction: row;
}

#left-container,
#right-container {
    height: 100vh;
}

/* left container elements start here */

#left-container {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 35%;
    display: flex;
    flex-direction: column;
    
}

#hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#hero-wrapper {
    background-color: var(--bg-hero-clr);
    width: 100%;
}

#logo {
    height: 100%;
    width: 70px;
}

#hero {
    color: var(--hero-txt-clr);
    font-family: var(--font-caesar), var(--font-std);
    font-size: 3rem;
}

#hero-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#ftr-flex-container {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

footer {
    color: var(--ftr-txt-clr);
    font-family: var(--font-std);
    font-size: 12px;

    padding: 10px;
}

footer > a {
    color: var(--ftr-txt-clr);
}

/* left container ends here */

#right-container {
    width: 65%;
    background-color: var(--bg-rightbox-clr);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

#form-container {
    box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(29, 29, 29, 0.4);;
}

#form-container > div {
    background-color: var(--bg-form-clr);
}